header {
	padding: 0.5rem 0.5rem 0.25rem;
	background-color: $secondary-color;

	.name {
		margin-top: 0;
		color: $white;
	}
}


.list {
	margin: 0;
	padding: 0.75rem 1.25rem;
	list-style: none;

	li {
		display: block;
		padding: 0;
		border-bottom: 1px solid $smoke;

		a {
			display: block;
			padding: 1.25rem 0rem;
		}
	}
}

.teams {

}
