<!doctype html>
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tardy</title>
    <!-- build:css css/libraries.min.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css css/app.min.css -->
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/app_override.css">
    <!-- endbuild -->
    <!-- build:js js/vendor/modernizr.min.js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <header class="text-center">
      <h1 class="name">Tardy</h1>
    </header>

    <div class="row">
      <div class="small-12 small-centered medium-10 medium-centered columns">

        <!-- AUTH ERROR - START -->
        <script type="text/html" id='error-message'>
        <div class="row">
          <div class="small-12 medium-8 medium-centered large-6 large-centered">
            <p class="alert-box alert">
              <strong>Error <%= status %></strong>
              <%= errors %>
            </p>
          </div>
        </div>
        </script>
        <div id="error_target"></div>
        <!-- AUTH ERROR - END -->


        <!-- LOGIN / REGISTER - START -->
        <div id="login" class="row content__element hide">
          <div class="small-10 small-centered medium-6 medium-centered large-4 large-centered columns">

            <form id="login__form">
              <h4 class="text-center">Log in with your email account</h4>
              <label>Email
                <input name="email" type="text" placeholder="somebody@example.com">
              </label>
              <label>Password
                <input name="password" type="password" placeholder="Password">
              </label>
              <!-- <input id="show-password" type="checkbox"><label for="show-password">Show password</label> -->
              <p><input type="submit" class="button expand" value="Log In" /></p>
              <!-- <p class="text-center"><a href="#">Forgot your password?</a></p> -->
            </form>

          </div>
        </div>
        <!-- LOGIN / REGISTER - END -->



      </div>
    </div>

    <!-- build:js js/vendor/libraries.min.js -->
    <!-- bower:js -->
    <script src="bower_components/zepto/zepto.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="bower_components/Zepto-Cookie/zepto.cookie.js"></script>
    <script src="bower_components/lightrouter/dist/lightrouter.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js js/vendor/foundation.min.js -->
    <!-- <script src="bower_components/foundation/js/foundation/foundation.js"></script> -->
    <!-- <script src="bower_components/foundation/js/foundation/foundation.abide.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.accordion.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.alert.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.clearing.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.equalizer.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.interchange.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.joyride.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.offcanvas.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.reveal.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.slider.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tab.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.tooltip.js"></script>
    <script src="bower_components/foundation/js/foundation/foundation.topbar.js"></script> -->
    <!-- endbuild -->
    <!-- build:js js/app.min.js -->
    <script src="js/app.js"></script>
    <script src="js/helpers/ajax.js"></script>
    <script src="js/helpers/service.js"></script>
    <script src="js/session.js"></script>
    <script src="js/team.js"></script>
    <!-- endbuild -->
    <script>
      (function() {
      	Tardy.init();
      })();
    </script>
  </body>
</html>
